body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
    background-image: url("fon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 3000px;
}

#header{
    height: 70px;
    background-color: brown;
}

.container {
    max-width: 1280px;
    margin:  0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#logo{
    height: 40px;
    width: 40px;
    background-color: white;
}

.logoImg{
    width: 85%;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}



a{
    text-decoration: none;
    color: white;
}


#main{
    margin-top: 800px;
    width: 100%;
}

.inpContainer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: lightgray;
    padding: 30px;
}

.startInp input{
    width: 250px;
    height: 60px;
}

.inpElem{
    width: 250px;
    height: 40px;
    background-color: white;
    border: 1px black solid;
    cursor: pointer;
}

.inpElem:hover{
    background-color: antiquewhite;
}

.InpMain{
    width: 100%;
    height: 60px;
}

.goBtn{
    width: 250px;
    height: 70px;
    margin: 0 auto;
    border-radius: 35px;
    background: linear-gradient(45deg, blue, red);

}